body {
    background-color:rgb(87, 87, 87);
}

header {
    width: 100%;
    height: 85px;
    background-color: #333;
    border-bottom: black solid 2px;
}

h1 {
    width: 45%;
    float: left;
    padding: 15px;
    font-size: 40px;
    color: white;
}
h1:hover {
    cursor: pointer;
}

#middle-section {
    float: left;
    width: 50%;
    text-align: right;
    padding-top: 20px;
}

a {
    color: white;
    font-size: 28px;
    padding-left: 15px;
}

section {
    width: 100%;
}

img {
    width: 100%;
    height: 350px;
}

.title {
    font-size: 20px;
    color: white;
    padding-left: 10px;
}

.forA {
    font-size: 20px;
}

.forDiv {
    margin-bottom: 15px;
    margin-top: 20px;
}

.toSave {
    float: right;
    margin-right: 20px;
}
#commentWritten {
    width: 75%;
}

/* for modal popup */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }